@use "../../foundation/setting/function" as *;
@use "../../foundation/setting/mixin" as *;
@use "../../foundation/variable/color" as *;
@use "sass:math";

.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $black;
  @include media(sp) {
    width: sp(260);
    height: sp(56);
  }
  @include media(pc) {
    width: pc(320);
    height: pc(56);
  }
  .c-button__text {
    color: $white;
    letter-spacing: 0.05em;
    @include media(sp) {
      font-size: sp(24);
    }
    @include media(pc) {
      font-size: pc(32);
    }
  }
}
