@use "../../foundation/setting/function" as *;
@use "../../foundation/setting/mixin" as *;
@use "../../foundation/variable/color" as *;

.c-card {
  @include media(sp) {
  }
  @include media(pc) {
    width: pc(310);
  }
  .c-card_wrapper {
    width: pc(310);
    height: pc(200);
    position: relative;
    &:hover {
      .c-card_bg {
        background-color: $black;
        transition: 0.5s ease;
        transition-property: background-color;
      }
      .c-card_title {
        color: $white;
        transition: 0.5s ease;
        transition-property: color;
      }
    }
  }
  .c-card_bg {
    width: pc(310);
    height: pc(200);
    background-color: $white;
    border: 1px solid $black;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    transition-property: background-color;
  }
  .c-card_title {
    font-size: pc(32);
    letter-spacing: 0.04em;
    transition: 0.5s ease;
    transition-property: color;
  }
  .c-card_date {
    @include media(sp) {
    }
    @include media(pc) {
      margin-top: pc(8);
      letter-spacing: 0.04em;
      line-height: 1;
      font-size: pc(16);
    }
  }
  .c-card_text {
    @include media(sp) {
    }
    @include media(pc) {
      margin-top: pc(8);
      line-height: 1;
      font-size: pc(16);
    }
  }
}
