- var pageType = "top";
- var pageType = "sub";

if pageType == 'top'
  script(src="js/library.js")
  script(src="js/index.js")
else if pageType == 'sub'
  script(src="../js/library.js")
  script(src="../js/index.js")
else
  script(src="js/library.js")
  script(src="js/index.js")
