@use "../foundation/setting/function" as *;
@use "../foundation/setting/mixin" as *;
@use "../foundation/variable/color" as *;

.l-header {
  width: 100%;
  @include media(sp) {
  }
  @include media(pc) {
  }
  .l-header_area {
    @include media(sp) {
    }
    @include media(pc) {
    }
  }
  .l-header_inner {
    @include media(sp) {
    }
    @include media(pc) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .l-header_logo {
    pointer-events: auto;
    mix-blend-mode: exclusion;
    position: fixed;
    line-height: 1;
    letter-spacing: 0.04em;
    color: $white;
    z-index: 10;
    @include media(sp) {
      font-size: sp(40);
      top: sp(16);
      left: sp(16);
    }
    @include media(pc) {
      font-size: pc(64);
      top: pc(32);
      left: pc(32);
    }
  }
  .l-header_nav {
    pointer-events: auto;
    mix-blend-mode: exclusion;
    color: $white;
    position: fixed;
    z-index: 10;
    @include media(sp) {
      top: sp(16);
      right: sp(16);
    }
    @include media(pc) {
      top: pc(32);
      right: pc(32);
    }
  }
  .l-header_list {
  }
  .l-header_item {
    // &:first-child {
    //   margin: 0;
    // }
    @include media(sp) {
    }
    @include media(pc) {
      // margin-top: pc(8);
    }
  }
  .l-header_link {
    letter-spacing: 0.04em;
    @include media(sp) {
      font-size: sp(24);
    }
    @include media(pc) {
      font-size: pc(24);
    }
  }
}
