header.l-header
  .l-header_area
    .l-header_inner
      h1.l-header_logo
        | Practice
      nav.l-header_nav
        ul.l-header_list
          li.l-header_item
            a.l-header_link(href="")
              | Kv
          li.l-header_item
            a.l-header_link(href="")
              | Scroll
          li.l-header_item
            a.l-header_link(href="")
              | Slider
          li.l-header_item
            a.l-header_link(href="")
              | Gsap
