- var TITLE = "slider-page-01";
- var pageType = "sub";
include ../include/config/_config
include ../include/compornent/_c-button

doctype html
html(lang="ja")
  include ../include/mixin/_head
    title
      | #{TITLE}
  body
    include ../include/layout/_header
    .slider-page-01
      .slider-page-01_area
        .slider-page-01_circleArea
          .slider-page-01_circle
            span.slider-page-01_text
              | 01
          .slider-page-01_circle
            span.slider-page-01_text
              | 02
          .slider-page-01_circle
            span.slider-page-01_text
              | 03
          .slider-page-01_circle
            span.slider-page-01_text
              | 04
          .slider-page-01_circle
            span.slider-page-01_text
              | 05
          .slider-page-01_circle
            span.slider-page-01_text
              | 06
          .slider-page-01_circle
            span.slider-page-01_text
              | 07
          .slider-page-01_circle
            span.slider-page-01_text
              | 08
          .slider-page-01_circle
            span.slider-page-01_text
              | 09
          .slider-page-01_circle
            span.slider-page-01_text
              | 10
        .slider-page-01_button
          span.slider-page-01_buttonNext
            | Next
          span.slider-page-01_buttonPrev
            | Prev

    include ../include/mixin/_script
