header.global.black.beauty
	h1.beauty
		a(href="http://www.elle.co.jp/")
			img.i(src="/include/images/logo-elle-fashion-black.svg" alt="" height="48")
	.promotion-label
		span
			| ELLE promotion
